.graf {
  background-color: white;
}
.border-unir{
  --bs-border-opacity: 1;
  border-color: #0098cd !important;
}
.titulo-azul{
  color: #0098cd;
}
body{
  background-color: #EEEEEE;
}

.textRosa{
  color: rgb(243, 104, 224);
}
.textAzul{
  color: rgb(44, 80, 240);
}

.bold{
  font-weight: bold;
}